*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */

/* .debug{
  border: 1px solid red;
} */



main{
  height:600px;
}

main .info{
  border:2px solid grey;
  border-radius: 10px;
}
